BOT_TOKEN=BOT_TOKEN

STARLINE_LOGIN=YOUR_LOGIN
STARLINE_PASSWORD=YOUR_PASSWORD

STARLINE_CLIENT_ID=YOUR_CLIENT_ID
STARLINE_CLIENT_SECRET=YOUR_CLIENT_SECRET

PROXY_URL=socks5://LOGIN:PASSWORD@HOST:PORT

POSTGRES_DB=starline
POSTGRES_USER=starline
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432